<div class="section" style="background-color: #161925">
    <h1>Search results for <%= @search %>:</h1>

    <ul class="link_list">
      <% @archived_websites.each do |website| %>
        <!-- link to archive?url=website.url -->
        <div>
          <a href="/archive?url=<%= website.url %>&date=<%= website.archived %>"><%= website.url %></a>
        </div>
      <% end %>
    </ul>
</div>